.footer-container{
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
}

.links{
    display: flex;
    flex-direction: column;
}

a{
    padding: 5px;
}

.more-links{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}