.footer-container{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

a{
    padding: 5px;
    text-align: center;
}

h4{
    text-align: center;
}

.company-links{
    display: flex;
    flex-direction: column;
}

.legal-links{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.support-links{
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}