.header-container{
    display: flex;
    align-items: center;
    /* make the navbar take up a specific amount of space */
    height: 8vh;
}

.nav-container{
    width: 20%;
    padding-left: 165px;
    display: flex;
    justify-content: space-between;
    
}

/* added css that only applies when you hover on the navbar link */
.nav-container :hover{
    background-color: #8C30F5;
    padding: 5px;
    color: white;
    transition: 0.7s;
    border-radius: 8px;
}