.product{
    width: 32%;
    position: relative;
}

.product-title {
    padding-top: 8px;
    text-align: center;
}

.product-description {
    text-align: center;
    padding: 24px;
}

.product-img{
    width: 90%;
    height: 50%;
}