.product{
    /* make the product take up 1/3rd of the screen using 33.3% width */
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    /* apply 10px to the top and bottom and then 30px to the left and right */
    padding: 10px 30px;
    text-align: center;
}

.product-description {
    text-align: center;
    padding: 24px;
}

.product-img{
    width: 90%;
    height: 50%;
}