.product{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    padding: 10px 30px;
    text-align: center;
}

.product-description {
    text-align: center;
    padding: 24px;
}

.product-img{
    width: 90%;
    height: 50%;
}